.Main_Title {
  font-size: 40px;
  text-align: center;
}
.Logos img{
  width: 25px;
  height: 25px;
  margin: 5px;
  object-fit: cover;
}
.Profile {
  display: flex;
  justify-content: center;
  gap: 10px;
}


.Profile img {
  width: 25px;
  height: 25px;
  margin: 5px;
  object-fit: cover;
}
.Profile a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none; /* Remove underline*/
  color: inherit; /* Keep color*/
}

#school { /* Use # for id*/
  max-height: 300px;
  height: auto;
  width: auto;
  display: block;
  margin: 20px auto;
}

.Project {
  text-align: center;
}
.project_pictures {
  display:flex;
  justify-content: center;
  gap: 20px;
}
.project_block img{
  width: 100px;
  height: 100px;
  margin: 5px;
  object-fit: cover;
}