.Main_Title {
  font-size: 40px;
  text-align: center;
}
.Logos img{
  width: 25px;
  height: 25px;
  margin: 5px;
  object-fit: cover;
}
.Profile {
  display: flex;
  justify-content: center;
  gap: 10px;
}


.Profile img {
  width: 25px;
  height: 25px;
  margin: 5px;
  object-fit: cover;
}
.Profile a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none; /* Remove underline*/
  color: inherit; /* Keep color*/
}
